@import "gnome-shell-sass/_high-contrast-colors"; //use gtk colors
@import "gnome-shell-sass/_drawing";
@import "gnome-shell-sass/_common";
@import "gnome-shell-sass/_widgets";

.toggle-switch { width: 48px; }
.toggle-switch {
  background-image: url("toggle-off-custom.svg");
  &:checked { background-image: url("toggle-on-custom.svg"); }
}

//force opaque panel
#panel {
  &.login-screen,
  &.unlock-screen,
  &:overview {
    background-color: #fff;
  }

  .panel-button {
    color: #000 !important;
  }
}

//thumbnail app icons no dropshadow and forced color
.window-picker .icon-dropshadow {
  icon-shadow: none;
  background-color: $osd_bg_color;
  padding: $base_padding * 2;
  border-radius: $modal_radius;
}
